{% extends 'includes/main.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    contact
{% endblock %}

{% block content %}
    <!-- Spinner Start -->
    <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
    <!-- Spinner End -->

        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <div class="container-fluid bg-primary py-5 mb-5 hero-header">
                <div class="container py-5">
                    <div class="row justify-content-center py-5">
                        <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                            <h1 class="display-3 text-white animated slideInDown">{% trans 'Contact Us' %}</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="#">{% trans 'Home' %}</a></li>
                                    <li class="breadcrumb-item"><a href="#">{% trans 'Pages' %}</a></li>
                                    <li class="breadcrumb-item text-white active" aria-current="page">{% trans 'Contact' %}</li>
                                </ol> 
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-dark text-center text-primary px-3">{% trans 'Contact Us' %}</h6>
                <h1 class="mb-5 text-white">{% trans 'Contact For Any Query' %}</h1>
            </div>
            {% if message %}
            <center>
                <span class="alert alert-primary">{{message}}</span>
            </center>
            {% endif %}
            <br>
            <hr>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp text-white" data-wow-delay="0.1s">
                    <h5 class="text-white">{% trans 'Get In Touch' %}</h5>
                    <p class="mb-4">{% trans '3 main guides to contact us' %}</p>
                    <div class="d-flex align-items-center mb-4">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">{% trans 'Office' %}</h5>
                            <p class="mb-0">{% trans 'Uzbekistan in Namangan city, street and home number: 5' %}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">{% trans 'Mobile' %}</h5>
                            <p class="mb-0">+998 90 751 52 12</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">{% trans 'Email' %}</h5>
                            <p class="mb-0">Ibroximmaxmudov008@gmail.com & <br> Ibroximmaxmudov0012@gmail.com </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <iframe class="position-relative rounded w-100 h-100"
                    src="{{map.map}}"
                    frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
                </div>
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form method="post">
                    {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="fullname" placeholder="Your Name" required>
                                    <label  for="name">{% trans 'Your Name' %}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                                    <label for="email">{% trans 'Your Email' %}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="number" class="form-control" name="phone" placeholder="Your phone number" required>
                                    <label for="number">{% trans 'Your phone number' %}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                                    <label for="subject">{% trans 'Subject' %}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" required placeholder="Leave a message here" name="text" style="height: 100px"></textarea>
                                    <label for="message">{% trans 'Message' %}</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" name="submitBtn" type="submit">{% trans 'Send Message' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
{% if message%}
<script>
    alert('{{message}}');
    window.location='/';
</script>
{% endif %}
{% endblock %}